@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    color: #ffff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.logo {
    display: flex;
    width: 110px;
    height: auto;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #071d34;
    height: 13vh;
}
nav ul{
    margin-bottom: none;
}

main{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1200px;
    text-align: justify;
    line-height: 1.5;
    color: #071d34;
}

main h2{
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 30px;
}

main p{
    margin-bottom: 20px;
}

ul li{
    margin-left: 50px;
    margin-bottom: 15px;
}

ol li{
    margin-left: 50px;
    margin-bottom: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

